.inputs {
  display: flex;
  flex-direction: row;

  border: red 10px solid;
}

.moves {
  background-color: red;
  display: inline-block;
}

.sub {
  display: inline-block;
  background-color: red;
}
.body {
  font-family: 'VT323', monospace;
  background-image: url("../banner.jpg");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.one {
  height: 100%;
  display: flex;
 flex-direction: column;
 align-items: baseline;
}

.oneDiv {
  padding: 0px 5px 0px 10px;
  background-color: red;
    margin-top: 25px;
}

.title {
  margin-top: 80px;
  font-size: 50px;
  /*display: none;*/
}
p {
  background-color: red;
  color: white;
  font-size: 18px;
}

.two {
  position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.three {
  height: 100%;

}

.name{
  margin-top: 212px;
  transform: rotate(90deg);
  font-size: 50px;
  /*display: none;*/
}
.controlls {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

canvas {
border: red 10px solid;
}

.div{
  display: flex;
  align-items: center;
  background-color: red;
}

h1{
  color: white;
  font-size: 27px;
  border: red 10px solid;
  background-color: red;
  align-items: center;
  transform: rotate(-90deg);
  display: flex;

}

select {
  /*font-family: 'VT323', monospace;*/
  border: green 2px solid;
  border-radius: 0px;
  height: 25px;
  width: 100px;
  color: green;
  background-color: black;
  align-items: center;
}

select:hover {
  color: black;
  background-color: green;
  border: black 2px solid;
}

button {
  color: black;
  font-family: 'VT323', monospace;
  font-size: 36px;
  width: 120px;
  background-color: green;
  margin: 10px;
}
